.wrapper {
  margin: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1000px) {
  .wrapper {
    margin: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .mat-card {
    padding: 16px;
  }
}

.wrapper md-card {
  margin-bottom: 8px;
  margin-right: 8px;
}

.editor {
  width: 100%;
  min-height: 200px;
}

.visitor-editor {
  width: 100%;
  min-height: 800px;
}

.grammar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.text h4,
.grammar h4 {
  display: inline-block;
  margin-bottom: 10px;
}

.text .material-icons,
.grammar .material-icons {
  margin-left: 8px;
  margin-right: 8px;
  color: #830000;
  position: absolute;
  top: 23px;
  font-size: 20px;
}

.result {
  width: 100%;
}

.error {
  background: maroon;
  color: white;
  padding: 8px 16px;
}

.visitor button {
  margin: 10px 10px 10px 0;
}
