<div class="wrapper">

  <md-card class="grammar">
    <h4>Grammar</h4>
    <md-card-content>
      <div ace-editor class="editor"  [mode]="'ruby'" [text]="grammar" (textChanged)="onGrammarChange($event)">
      </div>
    </md-card-content>
    <pre *ngIf="grammarError" class="error">{{ grammarError }}</pre>
  </md-card>

  <md-card class="text">
    <h4>Text</h4>
    <md-card-content>
      <div ace-editor class="editor" [text]="text" (textChanged)="onTextChange($event)">
      </div>
    </md-card-content>
    <pre *ngIf="textError" class="error">{{ textError }}</pre>
  </md-card>

  <md-card class="result">
    <h4>Result</h4>
    <md-card-content>
      <pre>{{ ast | json }}</pre>
    </md-card-content>
  </md-card>

</div>
