nav {
    margin-left: 16px;
}

.title {
    cursor: pointer;
}

.active {
    background-color: rgb(235, 113, 48);
}

.app-toolbar-filler {
    flex: 1 1 auto;
}

.button-icon {
    margin-right: 8px;
}