<mat-toolbar color="primary">
  <span>SimplePEG</span>
  <span class="space"></span>
  <a mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a>
  <!-- <a md-button routerLink="/quick-start">Quick Started</a> -->
  <a mat-button routerLinkActive="active" routerLink="/languages">Languages</a>
  <!-- <a md-button routerLink="/visitors">Visitors</a> -->
  <!-- <a md-button routerLink="/documentation">Documentation</a> -->
  <a mat-button routerLinkActive="active" routerLink="/playground">Playground</a>

  <span class="spacer"></span>

  <a mat-button href="https://github.com/SimplePEG/SimplePEG">GitHub</a>
</mat-toolbar>

<router-outlet></router-outlet>
