<div class="wrapper">

    <mat-card class="grammar">
      <h4>Grammar</h4><i *ngIf="grammarError" class="material-icons">report_problem</i>
      <mat-card-content>
        <app-ace-editor class="editor"  [mode]="'ruby'" [text]="grammar" (textChanged)="onGrammarChange($event)">
        </app-ace-editor>
      </mat-card-content>
      <pre *ngIf="grammarError" class="error">{{ grammarError }}</pre>
    </mat-card>

    <mat-card class="text">
      <h4>Text</h4><i *ngIf="textError" class="material-icons">report_problem</i>
      <mat-card-content>
        <app-ace-editor class="editor" [text]="text" (textChanged)="onTextChange($event)">
        </app-ace-editor>
      </mat-card-content>
      <pre *ngIf="textError" class="error">{{ textError }}</pre>
    </mat-card>

    <mat-card class="result">
      <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Result">
              <pre *ngIf="ast">{{ ast | json }}</pre>
              <pre *ngIf="!ast">no result</pre>
            </mat-tab>
            <mat-tab label="Meta Info">
              <pre *ngIf="meta">{{ meta | json }}</pre>
              <pre *ngIf="!meta">no meta info</pre>
            </mat-tab>
            <mat-tab label="Visitor">
              <div class="visitor">
                <button mat-raised-button (click)="generateVisitor()">Generate from grammar</button>
                <app-ace-editor class="visitor-editor" [mode]="'javascript'" [text]="visitor" (textChanged)="onVisitorChange($event)">
                </app-ace-editor>
                <mat-tab-group>
                  <mat-tab label="Original Result">
                    <pre *ngIf="ast">{{ ast | json }}</pre>
                    <pre *ngIf="!ast">no result</pre>
                  </mat-tab>
                  <mat-tab label="Converted Result">
                    <pre *ngIf="converted_ast">{{ converted_ast | json }}</pre>
                    <pre *ngIf="!converted_ast">no converted result</pre>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

  </div>
